<mat-toolbar class="bg-orange-400 text-white">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Fruits</span>
      

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon hover:text-red-400" aria-label="Example icon-button with heart icon" >
      <a a routerLink=""><mat-icon>account_circle</mat-icon></a>
      
    </button>
    
  </mat-toolbar>